nav{
    font-size: 25px;
}
nav.nav0{
    background-color: #ffffff;

}
nav img{
    width: 30px;
    height: 30px;
    opacity: 80%;
    margin-left: 20px;
}
nav .txt:hover{
    color: #33A0FF;
}
.nav2{
    padding-left: 920px;
}

nav #searchInput {
    border: none;
    outline: 1px solid #C1C8CE;
    background: transparent;
    font-size: 16px;
    width: 150px;
    height: 30px;
    margin-top: 15px;
}
nav .profile:hover {
    filter: brightness(0) saturate(100%) invert(31%) sepia(98%) saturate(2027%) hue-rotate(209deg) brightness(91%) contrast(92%);
    transform: scale(1.1);
}

nav #searchInput::placeholder {
    color: #777;
}

nav #closeSearch {
    text-decoration: none;
    font-size: 30px;
    color: #262626;
    opacity: 80%;
    margin-left: 5px;
    cursor: pointer;
    margin-top: 5px;
}

header {
    text-align: center;
    padding-top: 50px;
}

header h1 {
    color: #ff2e88;
    font-size: 2.8rem; 
    font-weight: bold;
}

header div {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 35px; 
    flex-wrap: wrap;
}

header div a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
}

header div a:hover,header div a.link.active {
    color: #33A0FF;
}

header div a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #33A0FF;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

header div a:hover::after ,
header div a.link.active::after{
    transform: scaleX(1);
}
@media (max-width: 768px) {
    header {
        padding-top: 30px;
    }

    header h1 {
        font-size: 2.3rem;
    }

    header div {
        flex-direction: column;
        gap: 10px;
    }

    header div a {
        font-size: 1rem;
        display: block;
        text-align: center;
    }
}

/* #carouselExampleControlsNoTouching{
    background: linear-gradient(to right, #9b30ff, #ff2e88);
    margin-top: 50px;
    padding: 50px 0;
    height: 550px;
} */
.carousel1{
    background: linear-gradient(to right, #9b30ff, #ff2e88);
    margin-top: 50px;
    padding: 50px 0;
    height: 550px;
}
.carousel2{
    background: #2E90E5;
    margin-top: 50px;
    padding: 50px 0;
    height: 550px;
}
.carousel-item .text{
   
    margin-left: 400px;
    transform: translatey(20px);
}
.carousel-item img {
    width: 600px;
    margin:0 auto;
    transform: translate(250px,-250px);
}
.carousel-item h2{
    padding-top: 70px;
    color: white; 

}
.carousel-item p{
    padding-top: 30px;
    color: white; 
    max-width: 400px;
    padding-bottom: 20px;
}
.carousel-item a{
    color: white; 
    text-decoration: none;
}

.carousel-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease-in-out;
}

.carousel1 a:hover::after {
    width: 3.5%;
}
.carousel2 a:hover::after {
    width: 6.5%;
}
.carousel-item a:hover{
    font-weight: 500;
}
.carousel2 img{
    width: 500px;
    margin-top:-30px;
}

.products{
    display: flex;
    justify-content: center;
    transform: translatey(-100px);
    padding-bottom: 0px;
}
.products .p1 h5{
    padding-top: 30px;
    font-size: 24px;
    font-weight: 700;
}
.products .p1 p{
    padding-top: 20px;
    font-size: 12px;
    max-width: 250px;
}
.products .p1 .p1tx,.p3tx{
    padding-left: 30px;
}
.products .p1 span{
    display: inline-block;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 400;
}
.products .p1{
    background-color: #0056b3;
    width: 390px;
    height: 280px;
    overflow: hidden;
    background-color: #FF6875;
    color: white;
    
}
.products .p1 img{
    width: 316px; 
    height: 538px; 
    margin-left: 74px;
    margin-top: -195px;
    
}
.products .p2{
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 247, 248);
    width: 390px;
    height: 280px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.products .p2 img{
    width: 322px; 
    height: 322px; 
}
.products .p2 .p2tx{
    display: flex;
    justify-content: space-between;
}
.products .p2 h5{
    transform: translate(-100px,-60px);
    font-weight: 700;
    font-size: 24px;
    color: #22262A;
}
.products .p2 span{
    transform: translate(100px,-60px);
    font-weight: 400;
    font-size: 24px;
    color:  #22262A;
    margin-left: -40px;

}
.products .p3{
    background-color: rgb(193, 200, 206);
    width: 390px;
    height: 280px;
}
.products .p3 img{
    width: 272;
    height: 178;
    margin-left: 140px;
    margin-top: -130px;
}
.products .p3 h5{
    padding-top: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #22262A;
}
.products .p3 p{
    padding-top: 20px;
    font-size: 12px;
    color: #22262A;
    max-width: 160px;
}
.products .p3 span{
    display: inline-block;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 400;
    opacity: 75%;
    color: #22262A;
}

.best_seller{
    text-align: center;
    padding-top: 0px;
    margin-top: 70px;
}

.best_seller .card{
    display: flex;
    width: 300px;
    height: 330px;
    align-items: center; 
    border: 3px solid #f5f5f5;
    border-radius: 10px;
 
}
.best_seller div{
    padding-top: 20px;
}
.best_seller div .link{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.best_seller div .link:hover,
.best_seller div .link.active {
    color: #33A0FF;
}

.best_seller div .link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #33A0FF;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.best_seller div .link:hover::after,
.best_seller div .link.active::after {
    width: calc(100% - 40px);
}
.card .imgc1{
    width: 200px;
    height: 120px;
}
.card h6{
    transition: transform 0.3s ease; 
    cursor: pointer; 

}
.card h6:hover{
    transform: translateX(3px);
}
.card a{
    color: #262626;
    text-decoration: none;
    cursor: pointer; 
    display: inline-block;
    transform: translateY(-20px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
}
.card a:hover {
    opacity: 90%;
}

.best_seller .sp{
    color: white;
    background-color: rgb(255, 72, 88);
    font-size: 10px;
    width: 30px;
    transform: translateX(-110px);
    margin-top: -15px;
}
.best_seller hr{
    background-color: #C1C8CE;
    width: 250px;
    height: 2px;
}
.best_seller .rating{
    transform: translateY(-45px);

}
.best_seller .rating img{
    width: 150px;
    height: 50px;
}
.best_seller .price{
    font-size: 20px;
    font-weight: 500;
    transform: translateY(-40px);
}
.best_seller .price span{
    color: rgb(255, 72, 88);    
}
/* .best_seller .price del{
    padding-left: 10px;
} */
.image-container {
    position: relative;
    width: 100%; 
    height: auto; 
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease, background-color 0.3s ease; 
  }
  
  .image-container:hover .overlay {
    opacity: 1; 
    background-color: rgba(255, 255, 255, 0.7); 
    cursor: pointer;
  }
  
  .icons {
    display: flex;
    gap: 20px; 
  }
  
  .icon-circle {
    width: 40px; 
    height: 40px;
    border: 2px solid #33A0FF;
    /* border-color: rgba(51, 160, 255, 60%); */
    opacity: 60%;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease; 
  }
  
  .icon-circle:hover {
    transform: scale(1.2); 
    border: 2px solid #33A0FF;
    opacity: 100%;
  }

.icon-circle.add-to-wishlist.active img {
    content: url('assets/heart-solid.svg'); 
    width: 28px; 
    height: 28px; 
}
.icon-circle.add-to-wishlist .icon {
    content: url('assets/heart-regular.svg'); 
    width: 28px; 
    height: 28px;
}

.icon-circle.add-to-wishlist .icon.active {
    content: url('assets/heart-solid.svg');
}

  .icon {
    width: 24px; 
    height: 24px;
    margin-top: -15px;
  }
  .best_seller .load {
    display: inline-block;
    margin-top: 70px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #C1C8CE;
    font-weight: 500;
    font-size: 26px;
    position: relative; 
    transition: color 0.3s ease; 
}

.best_seller .load:hover {
    color: #33A0FF; 
}

.best_seller .load::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0; 
    height: 2px;
    background-color: #33A0FF; 
    transition: width 0.3s ease, left 0.3s ease; 
    transform: translateX(-50%); 
}

.best_seller .load:hover::after {
    width: 8%; 
    left: 50%; 
}
.shop {
    background: #33A0FF;
    margin-top: 100px;
    padding: 50px 0;
    height: 550px;
    margin-bottom: 100px;
    overflow: hidden;
}
.shop h2{
    padding-top: 50px;
    color: white; 
    font-weight: 300;
    font-size: 66px;
    white-space: nowrap;
}
.shop p{
    padding-top: 30px;
    color: white; 
    max-width: 393.42px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 24px;
}
.shop a {
    color: white;
    text-decoration: none;
    position: relative; 
}

.shop a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.shop a:hover::after {
    width: 100%;
}
.shop a:hover{
    font-weight: 500;
}

.shop img {
    width: 553;
    height: 942;
    transform: translateY(-50px);  
}
.threeicon img{
    margin-bottom: 30px;
}
.threeicon h5{
    margin-bottom: 30px;
}
.threeicon{
    margin-bottom: 100px;
}
.threeicon .row{
    display: flex;
    align-items: stretch;
    text-align: center;
    align-items: center;
}
.threeicon .col{
    display: flex;
    align-items: stretch;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
    padding: 20px;
}
.latest{
    margin-bottom: 150px;
}
.latest h1{
    text-align: center;
    margin-bottom: 70px;
    font-size: 30px;
    color: #262626;
}
.c1{
    position: relative;
    width: 100%; 
    height: auto; 
  }

.c1 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease, background-color 0.3s ease; 
  }
  
  .c1:hover .overlay {
    opacity: 1; 
    background-color: rgba(255, 255, 255, 0.7); 
    cursor: pointer;
  }
  
.c1 .icons {
    display: flex;
    gap: 20px; 
  }
  
.c1 .icon-circle {
    width: 40px; 
    height: 40px;
    border: 2px solid #33A0FF;
    /* border-color: rgba(51, 160, 255, 60%); */
    opacity: 60%;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease; 
  }
  
.c1 .icon-circle:hover {
    transform: scale(1.2); 
    border: 2px solid #33A0FF;
    opacity: 100%;
  }

.c1 .icon-circle.add-to-wishlist.active img {
    content: url('assets/heart-solid.svg'); 
    width: 28px; 
    height: 28px; 
}
.c1 .icon-circle.add-to-wishlist .icon {
    content: url('assets/heart-regular.svg'); 
    width: 28px; 
    height: 28px;
}

.c1 .icon-circle.add-to-wishlist .icon.active {
    content: url('assets/heart-solid.svg');
}

.c1 .icon {
    width: 24px; 
    height: 24px;
    margin-top: 5px;
  }
/* .c1{
    width: 410px;
    height: 166px;
} */
.c1 img{
    width: 140px;
    height: 166px;
}
.c1 span{
    display: flex;
    text-align: left;
}
.c1 p{
    display: flex;
    text-align: left;
}
.c1 h5{
    transition: transform 0.3s ease; 

}
.c1 h5:hover{
    transform: translateX(3px);
}
.c1 a{
    color: #262626;
    text-decoration: none;
    cursor: pointer; 
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transform: translatey(20px);
    /* margin-left: -30px; */
}
.c1 a:hover {
    opacity: 90%;
}
.c1 .im1{
    width: 230px;
    height: 158px;
}
.c1 .rating img{
    display: flex;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    margin-left: 25px;
    
}
.c1 .price{
    display: flex;
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;

}
.c1 .price span{
    color: rgb(255, 72, 88);    
}
/* .c1 .price del{
    padding-left: 10px;
} */
.latest .feature .card{
    border: none;
}
.search{
    display: flex;
    border: 3px solid #F6F7F8;
    width: 600px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 200px;
}
.search input{
    border: none;
    flex: 1;    
}
.sinput::placeholder{
    color: #262626;
    opacity: 35%;
    padding-left: 10px;
}
.search button{
    border: none;
    border-radius: 5px 0px 5px 0px;
    height: 60px;
    width: 120px;
    background-color: rgb(46,144,229);
    box-shadow: none;
    color: white;
}

footer{
    padding: 50px 0;
    border-top: 2px solid #C1C8CE;
    border-bottom: 2px solid #C1C8CE;
    margin-bottom: 20px;
}
footer h1{
    color: #C1C8CE;
    display: flex;
}
footer p{
    text-align: left;
    flex: 1;
    max-width: 268.59px;
    color: #22262A;
    font-size: 12px;
    margin-top: 20px;
}
footer h5{
    color: #22262A;
    display: flex;
}
footer .ft{
    margin-top: 20px;
    display: flex;
    padding: 0;   
}
footer .ft img{
    flex: 1;
    text-align: left;
    margin-right: 30px;
    width: 30px;
    height: 25px;
}
footer .container{
    margin-bottom: 70px;
}
.r1 .col1{
    transform: translateY(-20px);
}
footer .r1{
    border-bottom: 2px solid #C1C8CE;
}
footer .r2 h6{
    display: flex;
}
footer .r2 p{
    font-size: 14px;
    text-align: left;
    flex: 1;
}
footer .r2{
    margin-bottom: 0px;
}
.payment-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    transform: translateX(-100px);
}
.payment-icons img {
    width: 35px; 
    height: auto;
}
.eco{
    display: flex;
    transform: translateX(0px);
    color: #C1C8CE;
}
.pay{
    margin-bottom: 30px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 1000;
}

dialog {
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 350px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    background: white;
    display: none;
    z-index: 1100;
}
.popup-content {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.popup-image {
    width: 50%;
    height: 100%;
}

.popup-image img {
    width: 100%;
    height: 348px;
    object-fit: cover;
    transform: translate(15px,-15px);
}

.popup-text {
    width: 50%;
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.input-group input {
    width: 70%;
    padding: 10px;
    border: none;
    outline: none;
}

.subscribe-btn {
    width: 30%;
    background: rgb(46,144,229);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.subscribe-btn:hover {
    background: #0056b3;
}

.dont-show {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}

.dont-show input {
    margin-right: 5px;
}

.close-btn {
    position: absolute;
    top: -20px;
    right: -10px;
    width: 30px;
    height: 30px;
    background: white;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1200;
}

.close-btn:hover {
    background: gray;
    border-color: gray;
    color: white;
}



