nav{
    font-size: 25px;
}
nav.nav0{
    background-color: #ffffff;

}
nav img{
    width: 30px;
    height: 30px;
    opacity: 80%;
    margin-left: 20px;
}
nav .txt:hover{
    color: #33A0FF;
}
.nav2{
    padding-left: 920px;
}

nav #searchInput {
    border: none;
    outline: 1px solid #C1C8CE;
    background: transparent;
    font-size: 16px;
    width: 150px;
    height: 30px;
    margin-top: 15px;
}
nav .profile:hover {
    filter: brightness(0) saturate(100%) invert(31%) sepia(98%) saturate(2027%) hue-rotate(209deg) brightness(91%) contrast(92%);
    transform: scale(1.1);
}

nav #searchInput::placeholder {
    color: #777;
}

nav #closeSearch {
    text-decoration: none;
    font-size: 30px;
    color: #262626;
    opacity: 80%;
    margin-left: 5px;
    cursor: pointer;
    margin-top: 5px;
}

header {
    text-align: center;
    padding-top: 50px;
}

header h1 {
    color: #ff2e88;
    font-size: 2.8rem; 
    font-weight: bold;
}

header div {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 35px; 
    flex-wrap: wrap;
}

header div a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
}

header div a:hover,header div a.link.active {
    color: #33A0FF;
}

header div a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #33A0FF;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

header div a:hover::after ,
header div a.link.active::after{
    transform: scaleX(1);
}
@media (max-width: 768px) {
    header {
        padding-top: 30px;
    }

    header h1 {
        font-size: 2.3rem;
    }

    header div {
        flex-direction: column;
        gap: 10px;
    }

    header div a {
        font-size: 1rem;
        display: block;
        text-align: center;
    }
}

footer{
    padding: 50px 0;
    border-top: 2px solid #C1C8CE;
    border-bottom: 2px solid #C1C8CE;
    margin-bottom: 20px;
}
footer h1{
    color: #C1C8CE;
    display: flex;
}
footer p{
    text-align: left;
    flex: 1;
    max-width: 268.59px;
    color: #22262A;
    font-size: 12px;
    margin-top: 20px;
}
footer h5{
    color: #22262A;
    display: flex;
}
footer .ft{
    margin-top: 20px;
    display: flex;
    padding: 0;   
}
footer .ft img{
    flex: 1;
    text-align: left;
    margin-right: 30px;
    width: 30px;
    height: 25px;
}
footer .container{
    margin-bottom: 70px;
}
.r1 .col1{
    transform: translateY(-20px);
}
footer .r1{
    border-bottom: 2px solid #C1C8CE;
}
footer .r2 h6{
    display: flex;
}
footer .r2 p{
    font-size: 14px;
    text-align: left;
    flex: 1;
}
footer .r2{
    margin-bottom: 0px;
}
.payment-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    transform: translateX(-100px);
}
.payment-icons img {
    width: 35px; 
    height: auto;
}
.eco{
    display: flex;
    transform: translateX(0px);
    color: #C1C8CE;
}
.pay{
    margin-bottom: 30px;
}
.homeAcc{
    font-size: 15px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
}
.homeAcc a{
    text-decoration: none;
    color: black;
    opacity: 80%;
    font-weight: 400;
    font-size: 24px;
}
.homeAcc a:hover{
    color: #33A0FF;
    opacity: 100%;
    font-weight: 500;

}
.homeAcc #category-name{
    text-decoration: none;
    color: #33A0FF;
    opacity: 100%;
    font-weight: 500;
    font-size: 24px;
}
.homeAcc #category-name:hover{
    color: #33A0FF;
    font-weight: 500;
    opacity: 100%;
}
.homeAcc p{
    display: inline;
    color: #22262A;
    font-weight: 600;
}
.homeAcc span{
    color: black;
    opacity: 50%;
    font-weight: 600;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}
.Acc{
    text-align: left;
    background-color: #F6F7F8;
    width: 270px;
    margin-bottom: 30px;
}
.Acc h5{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #22262A;
    padding-left: 15px;
}
.Acc p{
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #22262A;
    padding-left: 15px;
}
.Acc p:hover{
    color:#33A0FF;
    cursor: pointer;
}
.Acc .num p{
    color:#C1C8CE;
}
.Acc .num p:hover{
    color:#33A0FF;
    cursor: pointer;
}
.prices{
    width: 270px;
    color: #22262A;
    background-color: #F6F7F8;
    margin-bottom: 30px;
    
}
.prices h5{
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
}
.prices p{
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
}
.prices input {
    width: 210px;
    margin-bottom: 30px;
    margin-left: 15px;
}
.colors{
    color: #22262A;
    font-weight: 600;
    font-size: 18px;
    width: 270px;
    color: #22262A;
    background-color: #F6F7F8;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.colors h5{
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
}
.color-box {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    padding-left: 15px;
}

.color-box input {
    display: none;
}
.blue { 
    background-color: #006CFF;
    margin-right: 10px;
    margin-left: 15px;
 }
.red { 
    background-color: #FC3E39; 
    margin-right: 10px;
}
.black { 
    background-color: #171717; 
    margin-right: 10px;
}
.yellow { 
    background-color: #FFF600;
    margin-right: 10px;
}
.pink { 
    background-color: #FF00B4; 
    margin-right: 10px;
}
.beige { background-color: #EFDFDF; }

.color-box.selected {
    outline: 2px solid #006CFF; 
    outline-offset: 3px; 
}
.more{
    text-align: center;
    background-color: #F6F7F8;
    width: 270px;
    margin-bottom: 30px;
    height: 40px;
}
.more a{
    display: inline-block;
    margin-top: 5px;
    font-size: 18px;
    text-decoration:none;
    color: #22262A;

}
.more a:hover{
    color:#33A0FF;
    font-weight: 500;
}
.shop {
    background: #33A0FF;
    padding: 50px 0;
    overflow: hidden;
    width: 950px;
    height: 340px;
    margin-bottom: 50px;
}
.shop h2{
    color: white; 
    font-weight: 300;
    font-size: 66px;
    white-space: nowrap;
    padding-left: 30px;
}
.shop p{
    padding-top: 20px;
    color: white; 
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    padding-left: 30px;
}
.shop a {
    color: white;
    text-decoration: none;
    position: relative; 
    margin-left: 30px;
}

.shop a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.shop a:hover::after {
    width: 100%;
}
.shop a:hover{
    font-weight: 500;
}
.shop img {
    transform: translateY(-110px);
    width: 327px;
    height: 558px;
}
.bar{
    background-color:#f5f5f5;
    width: 950px;
    height: 60px;
    color: #22262A;  
    font-weight: 400;
    font-size: 14px;
}
.bar #itemCount{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}
.bar .sort{
    margin-top: 15px;
    margin-left: -120px;
    font-size: 18px;
    font-weight: 500;
}
.bar #sortSelect{
    margin-top: 15px;
    margin-left: -350px;
    font-size: 16px;
    border-radius: 10px;
    height: 30px;
    color:#262626;
    opacity: 75%;
    border-color: #C1C8CE;
    border-width: 2px;
}
.bar #sortSelect:hover{
    cursor: pointer;
    border-color: #33A0FF;
}
.screen{
    margin-left: -15px;
}
.screen div{
    padding-top: 20px;
}
.screen div a{
    padding-left: 50px;
    text-decoration: none;
    font-weight: 400;
    color: black;
}
.screen div .a1{
    color:#33A0FF;
}
.screen .card{
    display: flex;
    width: 300px;
    height: 330px;
    align-items: center; 
    border: 3px solid #f5f5f5;
    border-radius: 10px;
}
.screen .card .imgc1{
    width: 200px;
    height: 130px;
    margin-top: -40px;
}
.card h6{
    transition: transform 0.3s ease; 

}
.card h6:hover{
    transform: translateX(3px);


}
.card a{
    color: #262626;
    text-decoration: none;
    cursor: pointer; 
    display: inline-block;
    transform: translateY(-20px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px; 
    font-weight: 500 !important;
    margin-left: -40px;
}
.card a:hover {
    opacity: 90%;
    cursor: pointer;
}
.screen .sp{
    color: white;
    background-color: rgb(255, 72, 88);
    font-size: 10px;
    width: 30px;
    transform: translateX(-110px);
    margin-top: -15px;
}
.screen hr{
    background-color: #eac9c9;
    width: 250px;
    height: 2px;
}
.screen .rating{
    transform: translateY(-40px);
}
.screen .rating img{
    width: 150px;
    height: 50px;
}
.screen .price{
    transform: translateY(-35px);
}
.screen .price span{
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 72, 88);    
}
/* .screen .price del{
    padding-left: 10px;
} */
.image-container {
    position: relative;
    width: 100%; 
    height: auto; 
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease, background-color 0.3s ease; 
  }
  
  .image-container:hover .overlay {
    opacity: 1; 
    background-color: rgba(255, 255, 255, 0.7); 
    cursor: pointer;
  }
  
  .icons {
    display: flex;
    gap: 20px; 
  }
  
.screen .icon-circle {
    width: 40px; 
    height: 40px;
    border: 2px solid #33A0FF;
    /* border-color: rgba(51, 160, 255, 60%); */
    opacity: 60%;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease; 
  }
  
.screen .icon-circle:hover {
    transform: scale(1.2); 
    border: 2px solid #33A0FF;
    opacity: 100%;
  }
  .screen .icon {
    width: 24px; 
    height: 24px;
    margin-top: -15px;
  }
.screen .icon-circle.add-to-wishlist.active img {
    content: url('assets/heart-solid.svg'); 
    width: 28px; 
    height: 28px; 
}
.screen .icon-circle.add-to-wishlist .icon {
    content: url('assets/heart-regular.svg'); 
    width: 28px; 
    height: 28px;
}

.screen .icon-circle.add-to-wishlist .icon.active {
    content: url('assets/heart-solid.svg');
}

.screen .load{
    display: inline-block;
    margin-top: 70px;
    padding-bottom: 5px;
    text-decoration: none;
    color:#33A0FF;
    border-bottom: 4px solid #33A0FF;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
    padding: 10px;
    /* width: 870px; */
    height: 60px;
    /* margin-left: 240px; */
    margin-bottom: 150px;
    margin-top: 150px;
}

.page {
    padding: 17px 25px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: -5px;
}

.activel {
    background: #212529; 
    color: white;
}


