nav{
    font-size: 25px;
}
nav.nav0{
    background-color: #ffffff;

}
nav img{
    width: 30px;
    height: 30px;
    opacity: 80%;
    margin-left: 20px;
}
nav .txt:hover{
    color: #33A0FF;
}
.nav2{
    padding-left: 920px;
}

nav #searchInput {
    border: none;
    outline: 1px solid #C1C8CE;
    background: transparent;
    font-size: 16px;
    width: 150px;
    height: 30px;
    margin-top: 15px;
}
nav .profile:hover {
    filter: brightness(0) saturate(100%) invert(31%) sepia(98%) saturate(2027%) hue-rotate(209deg) brightness(91%) contrast(92%);
    transform: scale(1.1);
}

nav #searchInput::placeholder {
    color: #777;
}

nav #closeSearch {
    text-decoration: none;
    font-size: 30px;
    color: #262626;
    opacity: 80%;
    margin-left: 5px;
    cursor: pointer;
    margin-top: 5px;
}

header {
    text-align: center;
    padding-top: 50px;
}

header h1 {
    color: #ff2e88;
    font-size: 2.8rem; 
    font-weight: bold;
}

header div {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 35px; 
    flex-wrap: wrap;
}

header div a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
}

header div a:hover,header div a.link.active {
    color: #33A0FF;
}

header div a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #33A0FF;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

header div a:hover::after ,
header div a.link.active::after{
    transform: scaleX(1);
}
@media (max-width: 768px) {
    header {
        padding-top: 30px;
    }

    header h1 {
        font-size: 2.3rem;
    }

    header div {
        flex-direction: column;
        gap: 10px;
    }

    header div a {
        font-size: 1rem;
        display: block;
        text-align: center;
    }
}

.homeAcc{
    font-size: 15px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
}
.homeAcc a{
    text-decoration: none;
    color: black;
    opacity: 80%;
    font-weight: 400;
    font-size: 24px;
}
.homeAcc a:hover{
    color: #33A0FF;
    opacity: 100%;
    font-weight: 500;

}
.homeAcc .product-name{
    text-decoration: none;
    color: #33A0FF;
    opacity: 100%;
    font-weight: 500;
    font-size: 24px;
}
.homeAcc .product-name:hover{
    color: #33A0FF;
    font-weight: 500;
    opacity: 100%;
}
.homeAcc p{
    display: inline;
    color: #22262A;
    font-weight: 600;
}
.homeAcc span{
    color: black;
    opacity: 50%;
    font-weight: 600;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}
.sin-prod .card-title{
    font-size: 30px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 450px;   
    margin-bottom: 40px; 
    
}
.sin-prod .card1 .card-body{
    margin-left: 140px;
}
.sin-prod .rev{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    /* width: 65%; */
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.sin-prod .rev img{
    width: 170px;
}
.sin-prod .rev .review{
    color: #C1C8CE;

}
.sin-prod .rev a{
    text-decoration: none;
    color: #33A0FF;
}
.sin-prod hr{
    color: #C1C8CE;
    margin-top: -5px;
    border-width: 3px;
}
.sin-prod .last-hr{
    margin-left: 150px;
    margin-top: 5px;
}
.sin-prod .card1 .price{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 15px;
}
.sin-prod .card1 .price span{
    color: #FF4858;
}

.sin-prod .categ .s1{
    font-weight: 600;
    color: #262626;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 15px;
}
.sin-prod .categ .s2{
    font-weight: 400;
    color: #262626;
    font-size: 20px;
    display: inline-block;
    margin-left: 30px;
}
.sin-prod .categ .s2-2{
    font-weight: 400;
    color: #262626;
    font-size: 20px;
    display: inline-block;
    margin-left: 40px;
}
.sin-prod .hr2{
    color: #C1C8CE;
    margin-top: 15px;
    margin-bottom: 30px;
    border-width: 3px;
}

.sin-prod .color{
    font-weight: 600;
    color: #262626;
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.sin-prod .color .pallet .color-box {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    padding-left: 15px;
}

.sin-prod .color .pallet .color-box input {
    display: none;
}
.sin-prod .color .pallet .blue { 
    background-color: #006CFF;
    margin-right: 15px;
    margin-left: 30px;
 }
 .sin-prod .color .pallet .red { 
    background-color: #FC3E39; 
    margin-right: 15px;
}
.sin-prod .color .pallet .black { 
    background-color: #171717; 
    margin-right: 15px;
}
.sin-prod .color .pallet .yellow { 
    background-color: #FFF600;
    margin-right: 15px;
}

.sin-prod .color .pallet .color-box.selected {
    outline: 2px solid #006CFF; 
    outline-offset: 3px; 
}
.sin-prod .size{
    font-weight: 600;
    color: #262626;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 59%;
}
.sin-prod .size span{
    margin-top: 20px;
}
.sin-prod .size select{
    width: 116px;
    border-color: #C1C8CE;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.sin-prod .img1 img{
    width: 370px;
    height: 370px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 100px;
}
.sin-prod .card1{
    border: none;
    margin-left: -70px;
}
.best{
    margin-top: 25px;
}
.best h5{
    text-align: center;
    margin-left: 145px;
    color: #C1C8CE;
    font-weight: 600;
    font-size: 18px;
}
.sin-prod .card2{
    display: flex;
    width: 270px;
    height: 349px;
    align-items: center; 
    border: 3px solid #f5f5f5;
    border-radius: 10px;
    text-align: center;
    margin-left: 140px;
}

.card2 .imgc1{
    width: 200px;
    height: 140px;
    margin-top: 40px;
}

.card2 h6{
    transition: transform 0.3s ease; 

}
.card2 h6:hover{
    transform: translateX(3px);


}
.card2 a{
    color: #262626;
    text-decoration: none;
    cursor: pointer; 
    display: inline-block;
    transform: translateY(-20px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px; 
    cursor: pointer;
}
.card2 a:hover {
    opacity: 90%;

}

/* .sin-prod .sp{
    color: white;
    background-color: rgb(255, 72, 88);
    font-size: 10px;
    width: 30px;
    transform: translateX(-110px);
    margin-top: -15px;
} */
.sin-prod .card2 hr{
    background-color: #C1C8CE;
    width: 250px;
    height: 2px;
    margin-top: 0px;
}

.sin-prod .price2 span{
    color: rgb(255, 72, 88);  
    font-size: 20px;
    font-weight: 500; 
    transform: translateY(20px); 
}
.sin-prod .best .rating img{
    width: 150px;
    height: 50px;
    transform: translateY(-15px);
  }

/* .sin-prod .price2 del{
    padding-left: 10px;
    color: #ccc;
} */
.card2 .image-container {
    position: relative;
    width: 100%; 
    height: auto; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease, background-color 0.3s ease; 
}

.image-container:hover .overlay {
    opacity: 1; 
    background-color: rgba(255, 255, 255, 0.7); 
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 20px; 
}

.icon-circle {
    width: 40px; 
    height: 40px;
    border: 2px solid #33A0FF;
    /* border-color: rgba(51, 160, 255, 60%); */
    opacity: 60%;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease; 
  }
  
  .icon-circle:hover {
    transform: scale(1.2); 
    border: 2px solid #33A0FF;
    opacity: 100%;
  }
  

.icon {
    width: 24px; 
    height: 24px;
    margin-top: 5px;
}
.best .carousel-control-prev,.best .carousel-control-next{
    display: none;
}
.best .carousel-indicators{
    margin-bottom: -30px;
    margin-left: 190px;
}
.best .carousel-indicators button{
    background-color: #C1C8CE!important; 
}
.best .carousel-indicators .active{
    background-color: #33A0FF!important;
}

.sin-prod .choose-img .row{
    width: 30%;
}
.sin-prod .choose-img{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

/* .sin-prod .choose-img img{
    width: 76px;  
    height: 76px;  
    border: 2px solid #ccc;
} */
/* .sin-prod .choose-img .last-img{
    width: 58px;
    border: none;
    margin-top: -12px;
    margin-left: 9px;
} */
/* .sin-prod .choose-img .col-3 div{
    width: 76px;
    height: 76px;
    border: 2px solid #ccc;
} */
.sin-prod .choose-img .thumbnail {
    width: 76px;  
    height: 76px;  
    padding: 8px;
    border: 2px solid #ccc;
    transition: opacity 0.3s ease;
    cursor: pointer; /* لإضافة مؤشر يدوي عند التحريك */
    border: 2px solid #ccc;
    transform: translateY(-105px);
}

.sin-prod .choose-img .thumbnail:hover{
    border-color:#33A0FF;
}

.sin-prod .choose-img .thumbnail.active {
    border-color:#33A0FF; 
}

.sin-prod .choose-img .thumbnail.fade {
    opacity: 0.56;
}
.sin-prod .choose-img .buy{
    margin-right: 300px;
    margin-top: 20px;
}
.sin-prod .choose-img .buy .choose-num{
    font-size: 16px;
    margin-left: -220px;
    border-radius: 5px;
    background-color: #f5f5f5;
    height: 45px;
}
.sin-prod .choose-img .choose-num .num{
    font-weight: 500;
    color: #262626;
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
}
.sin-prod .choose-img .choose-num .min,.max{
    color: #262626;
    opacity: 50%;
    font-weight: 700;
    cursor: pointer;
    font-size: 26px;
}
.sin-prod .choose-img .choose-num .max:hover{
    color: #03A9F4;
    opacity: 100%;
}
.sin-prod .choose-img .choose-num .min:hover{
    color: #03A9F4;
    opacity: 100%;
}
.sin-prod .choose-img .choose-num .min{
    margin-left: 10px;
    margin-right: 10px;
}
.sin-prod .choose-img .choose-num .max{
    margin-left: 30px;
}
.sin-prod .choose-img .addTocart{
    margin-left: 100px;
    white-space: nowrap;
    background-color: rgb(221, 236, 249);
    width: 150px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;

}
.sin-prod .choose-img .addTocart:hover{
    border:2px solid #03A9F4;
    background-color: white;

}
.sin-prod .choose-img .addTocart img{
    border: none;
    width: 30px;
    margin-top: 5px;
    margin-left: 5px;
    
}
.sin-prod .choose-img .addTocart span{
    color: #33A0FF;
    display: inline-block;
    transform: translateY(5px);
    margin-left: 5px;
    font-weight: 500;
}
.sin-prod .choose-img .wish{
    margin-left: 25px;
    background-color: rgb(221, 236, 249);
    height: 45px;
    border-radius: 5px;
    width: 70px;
    cursor: pointer;

}
.sin-prod .choose-img .wish:hover{
    border:2px solid #03A9F4;
    background-color: white;
}
.sin-prod .choose-img .wish img{
    border: none;
    width: 30px;
    margin-top: 9px;
    margin-left: 7px;
}
.sin-prod .last-hr2{
    margin-left: 400px;
    margin-bottom: 30px;
    width: 35%;
}
.sin-prod .share{
    margin-left: 400px;
    cursor: pointer;
}
.sin-prod .share .face{
    background-color: #385C8E;
    color: white;
    width: 230px;
    height: 60px;
    border-radius: 5px;
}
.sin-prod .share .face img{
    margin-right: 10px;
    width: 15px;
}
.sin-prod .share .face span{
    display: inline-block;
    margin-top: 15px;
    font-size: 18px;
}
.sin-prod .share .twitter{
    background-color: #03A9F4;
    width: 230px;
    color: white;
    margin-left: 10px;
    height: 60px;
    border-radius: 5px;
}
.sin-prod .share .twitter img{
    margin-right: 10px;
    width: 25px;

}
.sin-prod .share .twitter span{
    display: inline-block;
    margin-top: 15px;
    font-size: 18px;

}
.sin-prod .share .gopro{
    margin-left: 130px;
}
.sin-prod .share .gopro .card{
    width: 270px;
    height: 408;
    border: none;
    background-color: #C1C8CE;
    margin-top: -70px;
    border-radius: 0px;
    margin-left: 20px;
}
.sin-prod .share .gopro .card img{
    margin-left: -13px;
    margin-bottom: 20px;
}
.sin-prod .share .gopro .card h5{
    text-align: left;
    color: #22262A;
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
}
.sin-prod .share .gopro .card p{
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    color: #22262A;
    margin-top: 20px;
}
.sin-prod .share .gopro .card .price{
    color: #22262A;
    opacity: 75%;
    font-size: 24px;
    font-weight: 400;
}
.sin-prod .long-text{
    margin-top: -190px;
    background-color: #FAFAFB;
    width: 875px;
    margin-bottom: 40px;
}
.sin-prod .long-text span{
    margin-right: 50px;
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    transform: translateY(20px);
    margin-left: 20px;
    transition: color 0.3s;
    cursor: pointer;
}
.sin-prod .long-text hr{
    margin-top: 40px;
    border: none;
    height: 2px;
    background: #ddd;
}
.sin-prod .long-text p{
    color: #262626;
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: 20px;
}

span.tab:hover {
    color: #007bff;
}

span.tab.active {
    color: #007bff;
    font-weight: bold;
}

span.tab.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 2px;
    background-color: #007bff;
}

.tab-content {
    display: none;
    padding-top: 10px;
}

.tab-content.active {
    display: block;
}
.sin-prod .related{
    margin-top: 30px;
    margin-left: -20px;
    margin-bottom: 100px;
}
.sin-prod .related .row{
    display: flex;
    gap: 125px;
}
.sin-prod .related h2{
    color: #22262A;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
}
.related .card{
    display: flex;
    width: 270px;
    height: 349px;
    align-items: center; 
    border: 3px solid #f5f5f5;
    border-radius: 10px;
}

.related .card .imgc1{
    width: 200px;
    height: 153px;
    margin-top: 50px;
}
.related .card h6{
    transition: transform 0.3s ease; 
    cursor: pointer;
}
.related .card h6:hover{
    transform: translateX(3px);
}
.related .card a{
    color: #262626;
    text-decoration: none;
    cursor: pointer; 
    display: inline-block;
    transform: translateY(-20px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px; 
    cursor: pointer;
}
.related .card a:hover {
    opacity: 90%;
}

/* .related .sp{
    color: white;
    background-color: rgb(255, 72, 88);
    font-size: 10px;
    width: 30px;
    transform: translateX(-110px);
    margin-top: -15px;
} */
.related hr{
    background-color: #C1C8CE;
    width: 250px;
    height: 2px;
    margin-top: -10px;
}
.related .rating img{
    width: 150px;
    height: 50px;
    transform: translateY(-20px);
}
.related .price{
    transform: translateY(-10px);
    color: rgb(255, 72, 88); 
    font-size: 20px;
    font-weight: 500;
}
.related .image-container {
    position: relative;
    width: 100%; 
    height: auto; 
  }

.related .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease, background-color 0.3s ease; 
  }
  
.related .image-container:hover .overlay {
    opacity: 1; 
    background-color: rgba(255, 255, 255, 0.7); 
  }
  
.related .icons {
    display: flex;
    gap: 20px; 
  }
  
.related .icon-circle {
    width: 40px; 
    height: 40px;
    border: 2px solid #33A0FF;
    /* border-color: rgba(51, 160, 255, 60%); */
    opacity: 60%;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease; 
  }
  
.related.icon-circle:hover {
    transform: scale(1.2); 
    border: 2px solid #33A0FF;
    opacity: 100%;
  }
  
.related.icon {
    width: 24px; 
    height: 24px;
    margin-top: -15px;
  }

footer{
    padding: 50px 0;
    border-top: 2px solid #C1C8CE;
    border-bottom: 2px solid #C1C8CE;
    margin-bottom: 20px;
}
footer h1{
    color: #C1C8CE;
    display: flex;
}
footer p{
    text-align: left;
    flex: 1;
    max-width: 268.59px;
    color: #22262A;
    font-size: 12px;
    margin-top: 20px;
}
footer h5{
    color: #22262A;
    display: flex;
}
footer .ft{
    margin-top: 20px;
    display: flex;
    padding: 0;   
}
footer .ft img{
    flex: 1;
    text-align: left;
    margin-right: 30px;
    width: 30px;
    height: 25px;
}
footer .container{
    margin-bottom: 70px;
}
.r1 .col1{
    transform: translateY(-20px);
}
footer .r1{
    border-bottom: 2px solid #C1C8CE;
}
footer .r2 h6{
    display: flex;
}
footer .r2 p{
    font-size: 14px;
    text-align: left;
    flex: 1;
}
footer .r2{
    margin-bottom: 0px;
}
.payment-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    transform: translateX(-100px);
}
.payment-icons img {
    width: 35px; 
    height: auto;
}
.eco{
    display: flex;
    transform: translateX(0px);
    color: #C1C8CE;
}
.pay{
    margin-bottom: 30px;
}

